p{
    background-color: #d9d9d9;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 250%;
    border-radius: 20px;
}
h1{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 170%;  
    color: #545454;
}  
img{
    width: 22px;
    height: 22px;
    margin: -5.8px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
.menu li{
    display: inline-block;
    margin: 0 5px;
}
.menu li a{
    font-size: 14px;
    text-decoration: none;
    color: #545454;
text-transform: uppercase;
padding: 10px 15px;
border-radius: 15px;
}
.menu li a:hover{
    background-color: rgba(100, 100, 100, 0.1);
}
